html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

div.noselect {
  user-select: none;
}

#contents {
  max-width: 700px;
  padding: 0;
  margin: auto;
  text-align: center;
  background-color: white;
}

#version-info {
  font-size: 0.9rem;
  font-weight: bold;
  color: gray;
}

h1 {
  position: relative;
  margin: 0;
  font-size: 18px;
  background-color: pink;
}

svg {
  padding: 0;
  margin: 0;
  user-select: none;
}
